apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
components:
  - components/github.com/mtsmfm/github-token-generator
  - components/github.com/mtsmfm/things
  - components/github.com/pocke/rbs_rails
